// MONTSERRAT
// FW300
$FM300-35-43: 35px/43px Montserrat;

// FW400
$FM400-12-15: 12px/15px Montserrat;
$FM400-16-20: 14px/17px Montserrat;
$FM400-16-20: 16px/20px Montserrat;
$FM400-20-24: 20px/24px Montserrat;
$FM400-20-24: 24px/25px Montserrat;
$FM400-28-34: 28px/34px Montserrat;

// FW500
$FM500-16-22: 16px/22px Montserrat;
